:root {
  --dark-navy: #091436;
  --navy: #091436;
  --light-navy: #0d1d4d;
  --lightest-navy: rgb(48, 73, 116);
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green-bright: #fce886;
  --green-tint: rgba(100, 255, 218, 0.1);
}
